<h1>{{ search.subreddit }}</h1>
<p>{{ search.search_term }}</p>

<form action="{% url 'frontend:update' search.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{ question.question_text }}</h1>
        </legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="subreddit">Subreddit: </label>
        <input id="subreddit" type="text" name="subreddit" value="{{ search.subreddit }}">
        <label for="search_term">Search Term: </label>
        <input id="search_term" type="text" name="search_term" value="{{ search.search_term }}">
        <input type="submit" value="OK">
    </fieldset>
</form>
<p><a href="{% url 'frontend:index' %}">Back to Searches list</a></p>